<?xml version="1.0" encoding="utf-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.educationalresource.argatroban"
	version 	= "1.0">

	<name>Argatroban Dosing Calculator</name>

	<description>
        Argatroban Dosing Calculator
	</description>

	<author href="http://www.educationaresource.com" email="lmarshall@educationalresource.com">
		Lilian Marshall, Garrett Metz, 
	</author>

  <icon src="icon.png" width="57" height="5s7" />
  <icon src="icon-72.png" width="72" height="72" />
  <icon src="icon_at_2x.png" width="114" height="114" />

  <gap:splash src="img/icon_at_2x.png" />
</widget>
